# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Datasets
chest_xray/

# Models
*.pth
*.h5
*.pt

# Virtual environment
venv/
.venv/

# Gradio
flagged/

# Claude Code
.claude/

# OS files
.DS_Store
Thumbs.db
